@use '@helpers/variables.scss' as *;

@import '@helpers/mixins';

.history-item,
.history-item:focus {
  @include _480 {
    font-size: 14px;
  }

  float: none;
  display: flex;
  gap: 5px;
  align-items: center;

  font-size: 18px;
  font-weight: 600;
  color: $color-black;

  background-color: $color-gray;
  border: none;

  &:hover {
    cursor: pointer;

    text-decoration: underline;
    text-underline-offset: 7px;

    background-color: $color-gray;
    border: none;
  }
}

.item-right {
  margin-left: auto;
}

.history-disabled:hover {
  cursor: auto;
  text-decoration: none;
}

.history-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.btn-history {
  width: 30px;
  height: 30px;

  background: url('@icons/arrow-up.svg') $color-gray;
  background-size: contain;
  border: 1px solid $color-gray;
  border-radius: 5px;
}

.btn-prev {
  transform: rotate(-90deg);
}

.btn-next {
  transform: rotate(90deg);
}
