@use '@helpers/variables.scss' as *;

.history-item {
  font-size: 18px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 7px;
  }
}

.history-disabled:hover {
  cursor: auto;
  text-decoration: none;
}

.item-left {
  float: left;
}

.item-right {
  float: right;
}

.history-btn-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn-history {
  width: 30px;
  height: 30px;

  background: url('../../../../assets/icons/arrow-up.svg') $color-white;
  background-size: contain;
  border: 1px solid $color-gray;
  border-radius: 5px;

  &:hover {
    border-color: $color-black;
    cursor: pointer;
  }
}

.btn-prev {
  transform: rotate(-90deg);
}

.btn-next {
  transform: rotate(90deg);
}
