@use '@helpers/variables.scss' as *;
@import '@helpers/mixins';

.main {
  padding: $padding;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;

  @include _768 {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}


.sandBox {
  position: relative;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 100px 1fr 1fr auto;
  grid-template-rows: 100%;
  overflow: hidden;
  gap: 5px;

  @include _768 {
    display: flex;
    flex-direction: column;
  }
}

.actions-grid-wrapper {
  grid-column: 1/2;
}

.query-grid-wrapper {
  grid-column: 2/3;
}

.results-grid-wrapper {
  grid-column: 3/4;
}

.docs-grid-wrapper {
  grid-column: 4/5;
  
  @include _1200 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  }
}
.docs-hidden {
  display: none;
}

.mainContent {
  display: flex;
}
