@mixin btns {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px 10px;
}

.main-top {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.endpoint {
  padding: 30px;
  display: flex;
  gap: 15px;

  &-input {
    @include btns;

    min-height: 35px;
    min-width: 350px;

    outline: none;

    &:focus {
      box-sizing: border-box;
      border: 2px solid blue;
    }
  }

  &-btn {
    @include btns;
    background-color: white;
    color: black;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: rgba(0, 0, 255, 0.8);
    }
  }
}

.documentation {
  &-btn {
    box-sizing: border-box;
    padding: 30px;
    width: 400px;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 255, 0.8);
    }
  }

  &-content {
    grid-row: 1/3;
    grid-column: 3/4;
    width: 400px;
    background-color: green;
  }
}

.main-content {
  display: flex;
}

.graphGL {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 20px;

  &-request,
  &-responce,
  &-vars,
  &-json {
    @include btns;

    min-height: 500px;
    background-color: silver;
  }

  &-vars,
  &-json {
    min-height: 200px;
  }
}

.actions {
  width: 100px;
  height: auto;
  padding: 10px;
  margin-right: 20px;
  background-color: gray;
}
