@use '../../helpers/variables.scss' as *;
@import '../../helpers/mixins';

.actions {
  grid-row: 1/3;
  height: auto;
  padding: 30px;
  background-color: $color-gray-light;
  @include _768 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
  }
}
