@use '@helpers/variables.scss' as *;
@import '@helpers/mixins';

.sandboxSmall {
  min-height: 200px;
  padding: 30px;
  background-color: $color-gray;
  border-radius: 15px;

  @include _768 {
    grid-column: 1/3;
  }
}
