@use '@helpers/variables.scss' as *;

@import '@helpers/mixins';

.actions {
  @include _768 {
    flex-direction: row;
    padding: 0;
  }

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  box-sizing: border-box;
  height: 100%;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: content-box;
  width: 50px;
  height: 50px;
  padding: 4px;

  .image {
    width: inherit;
    height: inherit;
  }
}
