@use '@helpers/variables.scss' as *;
@import '@helpers/mixins';
.editor-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  overflow: auto;
}

textarea {
  padding: 0;
  resize: none;
  font-size: 16px;
  border: none;
  outline: none;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  tab-size: 10px;
  background-color: $color-gray;
  
}
.line-numbers {
  width: 40px;
}

