@use '@helpers/variables.scss' as *;

@import '@helpers/mixins';

.editor-wrapper {
  position: relative;
  overflow: auto;
  display: flex;
  height: 100%;
}

.editor {
  resize: none;

  width: 100%;
  padding: 0;

  font-size: 16px;
  tab-size: 10px;

  background-color: $color-gray-light;
  border: none;
  outline: none;
}

.line-numbers {
  width: 40px;
}
