@use '@helpers/variables' as *;
@import '@helpers/mixins';


.sandbox-container {
  padding: 10px;
  background-color: $color-gray;
  border-radius: 10px;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid $color-black;
  overflow: hidden;
}