.line-wrapper {
  height: 19px;
  display: flex;
  justify-content: flex-end;
}
.line-text-wrapper {
  position: relative;
  margin: 0;
  width: 100%;
}
.line-text-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  outline: none;
}

.line-number {
  margin-right: 10px;
  padding-right: 5px;
}
.line-number.active {
  color: red;
}

