// colors
$color-white: #ffffff;
$color-black: #000000;

$color-base: #101010;

$color-gray: #e1e0df;
$color-gray-dark: #979797;
$color-gray-light: #0000000d;

$color-blue: #2db3c9;
$color-blue-light: #00b6cc99;

$color-red: #d72b2b;
