// colors
$color-white: #fff;
$color-black: #000;

$color-base: #101010;

$color-gray: #e1e0df;
$color-gray-dark: #979797;
$color-gray-light: #0000000d;

$color-blue: #2db3c9;
$color-blue-light: #60d0de;
$color-white-blue: #ecf6f9;

$color-red: #d72b2b;
$color-red-light: #fad9d9;
$padding: 0 20px;
