// colors
$color-white: #fff;
$color-black: #101010;

$color-base: #101010;

$color-gray: #e1e0df;
$color-gray-dark: #979797;
$color-gray-light: #f2f2f2;

$color-blue: #2db3c9;
$color-blue-light: #60d0de;
$color-white-blue: #ecf6f9;

$color-red: #d72b2b;
$color-red-light: #fad9d9;
$color-red-dark: #5f2120;

$color-border-light: #f0efee;
