@use '@helpers/variables.scss' as *;

@import '@helpers/mixins';

.autocomplete-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.toggle-button {
  position: relative;

  width: 30px;
  height: 30px;
  padding: 0;

  background: transparent;
  border: none;
}

.toggle-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.toggle-button-image {
  width: inherit;
  height: inherit;
}

.autocomplete-input {
  @include _1200 {
    width: 100%;
  }

  width: 330px;
  border-color: $color-white;
}

.items-wrapper {
  position: absolute;
  top: 45px;

  overflow: hidden;

  box-sizing: border-box;
  width: 350px;
  max-height: 0;
  margin: 0;
  padding: 0;

  visibility: hidden;
  background: $color-white;
  border: none;
  border-radius: 6px;

  transition: all 0.3s ease-in-out;
}

.items-wrapper.visible {
  display: block;
  max-height: 315px;
  visibility: visible;
}

.items-scroll-wrapper {
  overflow: auto;
  max-height: inherit;
  font-size: 18px;
}

.proposed-item {
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid $color-black;
}

.proposed-item-active {
  opacity: 70%;
  background-color: $color-blue-light;
}

.proposed-item:hover {
  cursor: pointer;
  opacity: 70%;
  background-color: $color-blue-light;
}
