@use '@helpers/variables.scss' as *;

@import '@helpers/mixins';

.header {
  position: sticky;
  z-index: 2;
  top: 0;

  height: 60px;
  padding: $padding;

  background-color: $color-white;
  border-bottom: 1px solid rgb(225 224 223);

  &.header-small {
    height: 64px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  }
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

.flex {
  display: flex;
  gap: 24px;
  align-items: center;
}

.home-icon {
  @include _480 {
    display: block;
  }

  display: none;
}

.desktop-link {
  @include _480 {
    display: none;
  }
}
