@use '@helpers/variables.scss' as *;
@import '@helpers/mixins';

.docs-wrapper {
  padding: 0;
  background-color: $color-gray;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.docs-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.types-wrapper {
  overflow: auto;
}

.docs-button {
  border: 2px solid $color-white;
}
