@import '@helpers/mixins';

.welcome {
  display: flex;
  flex-grow: 1;
  background-image: url(@assets/bgWeb.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.bigText {
  font-size: 65px;
  line-height: 65px;
  font-weight: 700;
  margin: 0 8px;
  text-align: center;

  @include _480 {
    font-size: 54px;
    line-height: 54px;
    font-weight: 600;
  }
}

.actionWrapper {
  position: absolute;
  top: 40px;
  right: 40px;
  @include _768 {
    right: 24px;
  }
}
