@use '../../helpers/variables.scss' as *;
@import '../../helpers/mixins';

.sandboxBig {
  min-height: 500px;
  padding: 30px;
  background-color: $color-gray;
  border-radius: 15px;
  @include _768 {
    grid-column: 1/3;
  }
}
