@use '../../helpers/variables.scss' as *;
@import '../../helpers/mixins' ;

.footer {
    margin-top: auto;
    display: flex;
    padding: 0 120px;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    font-size: 14px;
    color: $color-gray-dark;

    @include _768 {
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        height: 90px;
        padding: 24px;
    }
}

.wrapperInfo {
    display: flex;
    gap: 24px;
    align-items: center;
    @include _480 {
        flex-direction: column;
        gap: 4px;
    }
}

.logo {
    width: 64px;
    margin-top: 3px;
}

.flex {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}
