@use '@helpers/variables.scss' as *;

@import '@helpers/mixins';

.footer {
  @include _768 {
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    height: 90px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 50px;
  margin-top: 20px;
  padding: $padding;
  
  font-size: 16px;
  color: $color-gray-dark;

  border-top: 1px solid $color-gray;
}

.wrapper-info {
  display: flex;
  gap: 24px;
  align-items: center;
}

.logo {
  width: 64px;
  margin-top: 3px;
}

.flex {
  display: flex;
  gap: 4px;
  align-items: flex-end;
}
