:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  color: #2db3c9;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

.flex-center {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
